{% extends 'base.html.twig' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Date d'embauche</th>
                </tr>
            </thead>
            <tbody>
                {% for unVisiteur in lesVisiteurs %}
                    <tr>
                        <td> {{ unVisiteur.nomVis }} </td>
                        <td> {{ unVisiteur.adresseVis }} </td>
                        <td> {{ unVisiteur.cpVis }} </td>
                        <td> {{ unVisiteur.villeVis }} </td>
                        <td> {{ unVisiteur.dateEmbauche|date('Y-m-d') }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

